@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";

/* Általános stílus */
* {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500; /* 50 helyett 500 — a Caveat-nál ez a normál súly */
  font-style: normal;
}

/* Alap háttér + szöveg */
body {
  background-color: #CBCBCB;
  color: #333;
  list-style: none; /* Itt tiltjuk le alapból a bulletöket */
}

/* Csak az UL-ben engedélyezzük újra */
ul {
  list-style: disc;
  padding-left: 1.5rem; /* Kicsit beljebb húzva, hogy látszódjon a bullet */
}

.prose strong {
  font-weight: 600;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
}


@keyframes fadeCard {
  from {
    opacity: 0;
    transform: translateY(25px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeCard {
  animation: fadeCard 0.7s ease-out forwards;
}